body
{
  margin-top: 210px;
}
input[type=submit]
{
  margin-top: 10px;
  width: 260px;

}
.problem{
  visibility: hidden;
  background-color: red;
}
input[type=text]
{
  margin-top: 10px;
  width: 250px;
}
#div1{
  border-style:solid;
  padding: 5px;
  border-width: 1px;
  width: 300px;
  height: 100px;
}
